<img style="float: right;" src="fig/unifor.jpg" width="250px">

# Introdução à Ciência de Dados
Prof. Erneson A. Oliveira<br>
Laboratório de Ciência de Dados e Inteligência Artificial (LCDIA)<br>
Universidade de Fortaleza

# Lista de Exercícios

# Exercício 1:

Quantos números de três algarismos existem cuja soma dos seus três algarismos seja igual a 7?

a) 1<br>
b) 7<br>
c) 28<br>
d) 45<br>
e) 71

In [79]:
cont=0
for i in range(1,8):
    for j in range(0,8):
        for k in range(0,8):
            if i + j + k == 7:
                cont = cont + 1
                print(i,j,k)
print('Quantidade de números de três algarismos cuja soma dos seus três algarismos seja igual a 7 é',cont)

1 0 6
1 1 5
1 2 4
1 3 3
1 4 2
1 5 1
1 6 0
2 0 5
2 1 4
2 2 3
2 3 2
2 4 1
2 5 0
3 0 4
3 1 3
3 2 2
3 3 1
3 4 0
4 0 3
4 1 2
4 2 1
4 3 0
5 0 2
5 1 1
5 2 0
6 0 1
6 1 0
7 0 0
Quantidade de números de três algarismos cuja soma dos seus três algarismos seja igual a 7 é 28

# Exercício 2:

Um professor deseja saber se existe correlação entre o tempo dedicado ao estudo e a nota da prova dos seus alunos. Para isso, ele sorteou 8 alunos da turma e perguntou quanto tempo eles estudaram para a última prova (tabela abaixo).

| Aluno | x (Horas) | y (Nota) |
| --- | --- | --- |
| A | 8 | 10 |
| B | 7 | 8 |
| C | 6 | 4 |
| D | 3 | 8 |
| E | 3 | 6 |
| F | 6 | 9 |
| G | 5 | 7 |
| H | 2 | 4 |

Você poderia ajudar o professor, calculando o resultado analítico do coeficiente de correlação ($r$), também conhecido como coeficiente de Pearson, e o coeficiente de determinação ($r^2$)?

a) $r=0.82$ e $r^2=0.9901$.<br>
b) $r=0.15$ e $r^2=0.0536$.<br>
c) $r=0.73$ e $r^2=0.8500$.<br>
d) $r=0.85$ e $r^2=0.3490$.<br>
e) $r=0.58$ e $r^2=0.33$.

Cálculo da Correlação utilizando os recursos do python

In [20]:
import numpy
list1=[8, 7, 6, 3, 3, 6, 5, 2]
list2=[10, 8, 4, 8, 6, 9, 7, 4]
r= numpy.corrcoef(list1, list2)[0, 1]
print('O coeficiente de correlação é %.2f'% r)
print('O coeficiente de determinação é %.2f' % r**2)

O coeficiente de correlação é 0.58
O coeficiente de determinação é 0.33

<img style="float: left;" src="fig/Correlação.jpg" width="250px">

Cálculo da Correlação de forma analítica

In [83]:
d0 = {'x (Horas)': [8, 7, 6, 3, 3, 6, 5, 2], 'y (Nota)': [10, 8, 4, 8, 6, 9, 7, 4]}
df0 = pd.DataFrame(data=d0)
df0

   x (Horas)  y (Nota)
0          8        10
1          7         8
2          6         4
3          3         8
4          3         6
5          6         9
6          5         7
7          2         4

In [99]:
df0['xi - mediax'] = (df0['x (Horas)'] - df0['x (Horas)'].mean())
df0['yi - mediay'] = (df0['y (Nota)'] - df0['y (Nota)'].mean())
df0['(xi - mediax)^2'] = (df0['x (Horas)'] - df0['x (Horas)'].mean())**2
df0['(yi - mediay)^2'] = (df0['y (Nota)'] - df0['y (Nota)'].mean())**2
df0['(xi - mediax)*(yi - mediay)']=df0['xi - mediax']*df0['yi - mediay']

In [105]:
r=(df0['(xi - mediax)*(yi - mediay)'].sum())/(((df0['(xi - mediax)^2'].sum())**0.5)*(df0['(yi - mediay)^2'].sum())**0.5)
print('O coeficiente de correlação é %.2f'% r)
print('O coeficiente de determinação é %.2f' % r**2)

O coeficiente de correlação é 0.58
O coeficiente de determinação é 0.33

# Exercício 3:

Um biólogo mediu a quantidade de um determinado poluente (em $\mu g/L$) nas águas de um riacho, próximo a uma fábrica, e calculou um índice de dano ecológico (tabela abaixo).

|x (Quantidade de poluente) | y (Índice de dano ecológico) |
| --- | --- |
| 1 | 3 |
| 2 | 6 |
| 3 | 7 |
| 4 | 10 |
| 5 | 10 |
| 6 | 12 |

Você poderia calcular analiticamente, através do Método dos Mínimos Quadrados, os valores dos parâmetros $a$ e $b$ para o modelo linear $\hat{y}=a+bx$ que descreve esse dado?

a) $a=2.02$ e $b=1.71$.<br>
b) $a=1.01$ e $b=1.69$.<br>
c) $a=1.90$ e $b=1.52$.<br>
d) $a=1.21$ e $b=2.06$.<br>
e) $a=1.98$ e $b=1.67$.

Cálculo dos parâmetros utilizando os recursos do python

In [110]:
import pandas as pd
import numpy as np
from scipy import stats

d = {'x(Quantidade de poluente)': [1, 2, 3, 4, 5, 6], 'y(Índice de dano ecológico)': [3, 6, 7, 10, 10, 12]}
df2 = pd.DataFrame(data=d)

x=np.array(df2['x(Quantidade de poluente)'])
y=np.array(df2['y(Índice de dano ecológico)'])

theta_1, theta_0, r_value, p_value, std_err = stats.linregress(x,y)

In [108]:
print('O valor de a é %.2f'% theta_0)
print('O valor de b é %.2f'% theta_1)

O valor de a é 2.00
O valor de b é 1.71

Cálculo dos parâmetros de forma analítica, utilizando os mínimos quadrados.

Calculam-se as derivadas parciais da função em relação aos parâmetros a e b e iguala-se a zero para se obter o mínimo. Após esse cálculo, por meio de um sistema com duas equações e duas incógnitas, os valores de a e b são calculados em função de x e y.

In [113]:
df2['x*y'] = (df2['x(Quantidade de poluente)'] * df2['y(Índice de dano ecológico)'])
df2['x**2']=(df2['x(Quantidade de poluente)'] * df2['x(Quantidade de poluente)'])
df2

   x(Quantidade de poluente)  y(Índice de dano ecológico)  x*y  x**2
0                          1                            3    3     1
1                          2                            6   12     4
2                          3                            7   21     9
3                          4                           10   40    16
4                          5                           10   50    25
5                          6                           12   72    36

In [131]:
b=(6*df2['x*y'].sum()-df2['x(Quantidade de poluente)'].sum() * df2['y(Índice de dano ecológico)'].sum())/(6*df2['x**2'].sum()-(df2['x(Quantidade de poluente)'].sum())**2)
a=(df2['x(Quantidade de poluente)'].sum()*df2['x*y'].sum()-df2['y(Índice de dano ecológico)'].sum()*df2['x**2'].sum())/((df2['x(Quantidade de poluente)'].sum())**2-6*df2['x**2'].sum())

In [133]:
print('O valor de a é %.2f'% a)
print('O valor de b é %.2f'% b)

O valor de a é 2.00
O valor de b é 1.71

# Exercício 4:

O dado da tabela abaixo segue uma Lei de Potência ($y=ax^b$). Quais são os valores de $a$ e $b$?

| x | y |
| --- | --- |
| 9 | 13.96 |
| 30 | 59.23 |
| 40 | 83.65 |
| 570 | 2027.91 |
| 1000 | 3981.07 |

a) $a=0.9122$ e $b=4.21$.<br>
b) $a=1.128$ e $b=-1.5$.<br>
c) $a=1.21$ e $b=1.23$.<br>
d) $a=-0.000175$ e $b=1.2$.<br>
e) $a=1.0$ e $b=1.2$.

Cálculo dos parâmetros de forma analítica, linearizando-se o logarítmo da lei de potência.

In [53]:
import math

d1 = {'ln(x)': [math.log(9), math.log(30), math.log(40), math.log(570), math.log(1000)], 'ln(y)': [math.log(13.96), math.log(59.23), math.log(83.65), math.log(2027.91), math.log(3981.07)]}
df1 = pd.DataFrame(data=d1)
df1

      ln(x)     ln(y)
0  2.197225  2.636196
1  3.401197  4.081428
2  3.688879  4.426641
3  6.345636  7.614761
4  6.907755  8.289306

In [60]:
df1['ln(x)*ln(y)'] = (df1['ln(x)'] * df1['ln(y)'])
df1['ln(x)**2']=(df1['ln(x)'] * df1['ln(x)'])
df1

      ln(x)     ln(y)  ln(x)*ln(y)   ln(x)**2
0  2.197225  2.636196     5.792315   4.827796
1  3.401197  4.081428    13.881743  11.568144
2  3.688879  4.426641    16.329347  13.607832
3  6.345636  7.614761    48.320504  40.267101
4  6.907755  8.289306    57.260497  47.717083

In [69]:
a=(df1.iloc[:, 0].sum()*df1.iloc[:, 2].sum()-df1.iloc[:, 1].sum()*df1.iloc[:, 3].sum())/(df1.iloc[:, 0].sum()*df1.iloc[:, 0].sum()-5*df1.iloc[:, 3].sum())

In [71]:
b=(5*df1.iloc[:, 2].sum()-df1.iloc[:, 0].sum()*df1.iloc[:, 1].sum())/(5*df1.iloc[:, 3].sum()-df1.iloc[:, 0].sum()*df1.iloc[:, 0].sum())

In [78]:
print('O valor de a é %.2f'% 2.718**a)
print('O valor de b é %.2f'% b)

O valor de a é 1.00
O valor de b é 1.20

# Exercício 5:

Uma rede de varejo quer contratar dois novos vendedores para as festas de final de ano selecionando os candidatos que provavelmente venderão mais. Para isso, todos os atuais vendedores passaram por um teste de personalidade para medir o seu grau de inteligência e extroversão, a fim de relacionar, através de um modelo linear multivariado, essas duas variáveis com os seus respecitivos desempenhos de vendas. Os dados coletados para os atuais vendedores foram:

| Inteligência | Extroversão | Vendas/semana (R$) |
| --- | --- |--- |
| 90 | 22 | 2626 |
| 94 | 25 | 2710 |
| 92 | 20 | 3090 |
| 121 | 22 | 3130 |
| 115 | 27 | 3175 |
| 101 | 18 | 3105 |
| 97 | 15 | 2710 |
| 105 | 16 | 2475 |
| 112 | 23 | 3625 |
| 109 | 28 | 3525 |
| 130 | 20 | 3225 |
| 105 | 26 | 3450 |
| 104 | 20 | 2425 |
| 111 | 26 | 3025 |
| 96 | 27 | 2620 |
| 115 | 29 | 2750 |
| 113 | 25 | 3150 |
| 88 | 23 | 2600 |
| 107 | 18 | 2520 |
| 102 | 17 | 2655 |

Os candidatos a novos vendedores também passaram pelo teste de personalidade e os dados foram:

| Candidato | Inteligência | Extroversão |
| --- | --- | --- |
| A | 150 | 15 |
| B | 50 | 30 |
| C | 120 | 25 |
| D | 90 | 19 |
| E | 100 | 23 |

Quem a rede de varejo deveria contratar?

a) A e B.<br>
b) C e D.<br>
c) A e C.<br>
d) D e E.<br>
e) A e E.

In [ ]:
from sklearn.linear_model import LinearRegression

In [137]:
X = {'Inteligência': [90, 94, 92, 121, 115, 101, 97, 105, 112, 109, 130, 105, 104, 111, 96, 115, 113, 88, 107, 102], 'Extroversão': [22, 25, 20, 22, 27, 18, 15, 16, 23, 28, 20, 26, 20, 26, 27, 29, 25, 23, 18, 17], 'Vendas/semana (R$)':[2626, 2710, 3090, 3130, 3175, 3105, 2710, 2475, 3625, 3525, 3225, 3450, 2425, 3025, 2620, 2750, 3150, 2600, 2520, 2655]}
df2 = pd.DataFrame(data=X)

In [139]:
df2

    Inteligência  Extroversão  Vendas/semana (R$)
0             90           22                2626
1             94           25                2710
2             92           20                3090
3            121           22                3130
4            115           27                3175
5            101           18                3105
6             97           15                2710
7            105           16                2475
8            112           23                3625
9            109           28                3525
10           130           20                3225
11           105           26                3450
12           104           20                2425
13           111           26                3025
14            96           27                2620
15           115           29                2750
16           113           25                3150
17            88           23                2600
18           107           18                2520
19           102           17                2655

In [143]:
from sklearn.linear_model import LinearRegression
model=LinearRegression() # Selecting a linear model

In [162]:
lin_reg=model.fit(df2.iloc[:,0:2],df2.iloc[:,2]) # Estimating the model parameters

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [164]:
#print(type(lin_reg))
#print(dir(lin_reg))

#print(lin_reg.get_params())

print(model.score(df2.iloc[:,0:2],df2.iloc[:,2])) # R^2



print(lin_reg.coef_) # theta_1, theta_2, ...
print(lin_reg.intercept_) # theta_0

0.3217975744034808
[14.09875682 27.36018935]
832.7457365962227

In [166]:
X = {'Candidato': ['A', 'B', 'C', 'D', 'E'], 'Inteligência': [150, 50, 120, 90, 100], 'Extroversão':[15, 30, 25, 19, 23]}
df3 = pd.DataFrame(data=X)

In [167]:
df3

  Candidato  Inteligência  Extroversão
0         A           150           15
1         B            50           30
2         C           120           25
3         D            90           19
4         E           100           23

In [170]:
lin_reg.coef_[1]

27.360189353535013

In [178]:
Xnew=df3.iloc[:,1:3]

ynew=model.predict(Xnew) # Make a prediction

print(Xnew)
print(ynew)

   Inteligência  Extroversão
0           150           15
1            50           30
2           120           25
3            90           19
4           100           23
[3357.96210042 2358.48925838 3208.60128925 2621.47744843 2871.90577407]

In [179]:
df3['Vendas/semana']=ynew

In [191]:
df3.sort_values(by=["Vendas/semana"], ascending=False)

  Candidato  Inteligência  Extroversão  Vendas/semana
0         A           150           15    3357.962100
2         C           120           25    3208.601289
4         E           100           23    2871.905774
3         D            90           19    2621.477448
1         B            50           30    2358.489258